<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023 Chris K Wensel <chris@wensel.net>. All Rights Reserved.
  ~
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<Configuration status="off" name="clusterless" packages="">
    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <!--            <PatternLayout pattern="%m%n"/>-->
            <PatternLayout
                    pattern="%style{%date{DEFAULT}}{yellow} %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %message%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.netflix.conductor" level="off" additivity="false">
            <AppenderRef ref="STDERR"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="STDERR"/>
        </Root>
    </Loggers>
</Configuration>
