<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>

    <!-- stdout carries command output only, all logging goes to stderr -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%yellow(%d{HH:mm:ss.SSS}) %highlight(%-5level){FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
